stock-move-list {
    .header .col {
        background-color:#c3e2f1;
    }
    
    .col {
        border: solid 1px grey;
    }
    
    .col:last-child {
        border-right: solid 1px grey;
    }
    
    .row:last-child .col {
        border-bottom: solid 1px grey;
    }

    .header-reddish .col {
        background-color: #7C7BAD;
    }

    .header-reddish .col.add, .row.header .col.add {
        border-left: none;
    }

    .header-reddish .col.add .add {
        border: none;
        text-align: right;
    }

    .header-reddish .col.add button {
        color: black;
        border-color: black;
    }

    .header-reddish .col.pkg, .row.header .col.pkg {
        border-right: none;
    }

    .fat-col {
        padding: 10px;
        text-align: center;
        //font-size: 0.75em;
        font-size: 1rem;
    }

    /* .product-col, .fat-col, .row.header.filter .col {
        background-image: linear-gradient(white, white, lightgrey);
    } */

    .fat-col.blue-background {
        background-color: #7C7BAD;
    }

    .fat-col.red-background {
        background-color: #7C7BAD;
        background-image: none;
        color: white;
    }

    .red-icon {
        color: rgb(62, 0, 161) !important;
    }

    ion-scroll {
        height: 500px;
    }

    ion-scroll.middle-box {
        height: 250px;
    }

    ion-scroll.scroll-y div.scroll-content {
        padding: 0px !important;
    }

    #pkgs, #pkgs_info, #lines, #arrival_pkgs {
        min-height: 10px;
    }

    .add .black {
        background-color: #7C7BAD;
    }

    .add .add {
        border: none;
    }

    .black {
        color: black;
        border-color: black;
    }

    #users ion-row ion-col {
        cursor: pointer;
    }

    .product-col, #pkgs ion-col {
        cursor: grab;
    }

    button {
        background-color: transparent;
    }

    .row.header.filter .col {
        text-align: center;
    }

    .hidden-col, .hidden-row {
        display: none;
    }

    strong.product-units{
        float: right;
    }

    .tab-button-icon {
        background-color: #7C7BAD;
    }

    .pasaran-type {
        background-color: rgb(250, 250, 235);
    }
    .shipping-color {
        color: rgb(160, 160, 160)
    }
    .route-type {
        background-color: rgb(250, 239, 239);
    }

    .agency-type {
        background-color: rgb(206, 240, 239);
    }

    .all-type {
        background-image: linear-gradient(white, white, #7C7BAD);
    }

    .row-button {
        padding: 0px;
    }

    .add .row {
        float: right;
    }

    #lines, #pkgs_info {
        font-size: 1rem;
    }

    #lines div .row {
        border: solid 1px grey;
    }

    #lines div .row .product-col, #lines div .row .product-col .row {
        border: solid 0px grey;
    }

    #lines div .row .product-col .row, .right-button {
        float: right;
    }

    .row-button {
        font-size: 1rem;
    }

    .button-color-first {
        color: #7C7BAD;
    }
}
