<?xml version='1.0' encoding='utf-8'?>
<widget id="com.warehouse.beta" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gestión de inventario</name>
    <description>Aplicación para gestión de salidas de inventario.</description>
    <author email="info@comunitea.com" href="https://comunitea.com/">Comunitea Servicios Tecnológicos S.L.</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="0"/>
    <preference name="ShowSplashScreen" value="false"/>
    <preference name="FadeSplashScreenDuration" value="0"/>
    <preference name="FadeSplashScreen" value="false"/>
